/////////////////////////////////////
// Section - Hero
/////////////////////////////////////
.header {
    position: relative;

    &__slideshow {
        height: 90vh;
        width: 100%;
        position: absolute;
        @media only screen and (max-width: $bp-medium) {
            height: 70vh;
        }
    }
    &__slide {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        
    
        &--1 {
            background-image: linear-gradient(
                    to bottom,
                    rgba(black, 0.5),
                    rgba(black, 0.1) 30%,
                    rgba(black, 0.3) 70%,
                    rgba(black, 0.6)
                ),
                url(../../img/hero4.jpg);
        }
        &--2 {
            background-image: linear-gradient(
                    to bottom,
                    rgba(black, 0.5),
                    rgba(black, 0.1) 30%,
                    rgba(black, 0.3) 70%,
                    rgba(black, 0.6)
                ),
                url(../../img/hero3.jpg);
        }
        &--3 {
            background-image: linear-gradient(
                    to bottom,
                    rgba(black, 0.5),
                    rgba(black, 0.1) 30%,
                    rgba(black, 0.3) 70%,
                    rgba(black, 0.6)
                ),
                url(../../img/hero2.jpg);
        }
        &--4 {
            background-image: linear-gradient(
                    to bottom,
                    rgba(black, 0.5),
                    rgba(black, 0.1) 30%,
                    rgba(black, 0.3) 70%,
                    rgba(black, 0.6)
                ),
                url(../../img/hero1.jpg);
        }
    }
}

.hero {
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
        height: 70vh;
    }

    &__title {
        color: $color-white;
        z-index: 11;
        font-family: "Tangerine", cursive;
        font-size: 6rem;
        letter-spacing: .6rem;
        padding-top: 25rem;
        text-align: center;
        @media only screen and (max-width: $bp-medium) {
            top: 30vh;
        }
        @media only screen and (max-width: $bp-small-medium) {
            font-size: 5rem;
        }
    }
    &__leaf {
        height: 5rem;
        width: 4rem;
        -webkit-mask-size: cover;
        background-color: $color-white;
        transform: rotate(-15deg);

        &--left {
            -webkit-mask-image: url(../../img/laurel-left.svg);
        }
        &--right {
            -webkit-mask-image: url(../../img/laurel-left.svg);
            transform: scale(-1,1) rotate(-15deg);
            
        }
    }
    &__award-flex-container {
        display: flex;
        align-items: center;
        z-index: 11;
        margin-top: 1rem;
        @media only screen and (max-width: $bp-medium) {
            top: 45vh;
        }
    }
    &__award-text-flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: .5rem;
    }
    &__sub-title {
        color: $color-white;
        font-family: 'Josefin Slab', serif;
        font-size: 2rem;
    }
    &__attribute {
        color: $color-white;
        margin-top: .5rem;
        font-weight: 300;
        font-size: 1.2rem;
        z-index: 20;
        font-family: $font-sans;
    }
}

.zoom {
    animation-name: fader;
    animation-duration: 3s;
    animation-delay: 4s;
}

.hero__hr {
    width: 4rem;
    height: 2px;
    background-color: $color-white;
    z-index: 10;
    margin: 2rem 0;
    border: none;
    @media only screen and (max-width: $bp-medium) {
        top: 41vh;
    }
}

/////////////////////////////////////
// info-section (resort and spa)
/////////////////////////////////////

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__address {
        font-size: 1.6rem;
        margin-top: $margin-large;
        font-family: $font-sans;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }

    &__hr {
        width: 30%;
        height: 2px;
        background-color: $color-grey;
        margin: 3rem 0;
        border: none;
        @media only screen and (max-width: $bp-medium) {
            width: 50%;
        }
        @media only screen and (max-width: $bp-small) {
            width: 75%;
        }
    }

    &__small-hr {
        width: 4rem;
        height: 2px;
        background-color: $color-black;
        border: none;
        margin: 2rem 0;
    }

    &__btn-flex-container {
        display: flex;
        width: 30%;
        justify-content: space-evenly;
        @media only screen and (max-width: $bp-medium) {
            width: 50%;
        }
        @media only screen and (max-width: $bp-small) {
            width: 75%;
        }
    }
    &__description {
        font-size: 2rem;
        font-family: $font-text;
        width: 45%;
        justify-self: center;
        text-align: center;
        line-height: 3.5rem;

        @media only screen and (max-width: $bp-medium) {
            width: 55%;
        }
        @media only screen and (max-width: $bp-small) {
            width: 85%;
        }

        &--resort {
            margin: $margin-large 0;
        }
    }

    &__title {
        font-family: $font-sans;
        font-size: $section-heading;
        font-weight: 200;
        text-align: center;
        margin-top: 7rem;
    }
}

/////////////////////////////////////
// Section - Accomodations
/////////////////////////////////////

.accomodations {
    &__title {
        font-family: $font-sans;
        font-size: $section-heading;
        font-weight: 200;
        text-align: center;
        margin-bottom: 5rem;
    }
}

/////////////////////////////////////
// Section - Koh Samet hero 1
/////////////////////////////////////

.mid-page-hero {
    height: 90vh;
    background-image: linear-gradient(
        to bottom,
        
        rgba(black, 0) 70%,
        rgba(black, .9)
    ), url(../../img/mid-hero1.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: $bp-medium) {
        height: 70vh;
    }
    @media only screen and (max-width: $bp-small) {
        height: 60vh;
    }

    &__heading {
        font-family: $font-sans;
        font-size: 1.8rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-white;
        margin-bottom: .5rem;
        margin-left: 2rem;

    }

    &__text {
        font-size: 1.8rem;
        font-family: $font-text;
        line-height: 3.5rem;
        color: $color-white;
        margin-bottom: 2rem;
        margin-left: 2rem;
        @media only screen and (max-width: $bp-small) {
            line-height: 2.5rem;
        }
    }
}

/////////////////////////////////////
// Section - Spa photos
/////////////////////////////////////

.spa-photos {
    display: flex;
    margin-top: $margin-large;
    margin-bottom: $margin-medium;
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    &__column {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        @media only screen and (max-width: $bp-small) {
            display: block;
            margin: 0 auto;
            width: 80%;
        }
    }

    &__photo {
        //width: 100%;
        &--spa1 {
            width: 40rem;
            margin-right: 5rem;
            @media only screen and (max-width: $bp-medium) {
                margin-right: 0;
                margin-bottom: 4rem;
            }
            @media only screen and (max-width: $bp-small) {
                width: 100%;
            }
        }
        &--spa2 {
            width: 40rem;
            margin-left: 5rem;
            @media only screen and (max-width: $bp-medium) {
                margin-left: 0;
            }
            @media only screen and (max-width: $bp-small) {
                width: 100%;
            }
        }
    }

    &__btn {
        margin-bottom: $margin-large;
    }
}

/////////////////////////////////////
// Section - featured activities
/////////////////////////////////////
.activities-hero {
    height: 110vh;
    background-position: bottom;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(black, 0) 75%,
        rgba(black, 0.9) 90%,
        rgba(black, 1)
    ),
    url(../../img/experience1.jpg);
    @media only screen and (max-width: $bp-medium) {
        height: 60vh;
    }
}

.activities-heading {
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: $font-sans;
        font-size: $section-heading;
        font-weight: 200;
        text-align: center;
        padding-top: 7rem;
        color: $color-white;
        @media only screen and (max-width: $bp-medium) {
            padding-top: 3rem;
        }
    }

    &__small-hr {
        width: 4rem;
        height: 2px;
        background-color: $color-white;
        border: none;
        margin: 2rem 0;
        @media only screen and (max-width: $bp-small-medium) {
            margin-bottom: 3rem;
        }
    }
}

.activities {
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;

    @media only screen and (max-width: $bp-small-medium) {
        display: none;
    }

    &__heading {
        font-family: $font-sans;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: .2rem;
        margin-bottom: 1rem;
        

        &--one {
            margin-left: 3rem;
            margin-top: 2.5rem;
            @media only screen and (max-width: $bp-medium) {
                margin-left: 0;
            }
        }

        &--two {
            margin-left: 3rem;
        }

        &--four {
            margin-left: 3rem;
        }
    }

    &__text {
        font-family: $font-text;
        font-size: 1.8rem;
        letter-spacing: .03rem;
        line-height: 2.5rem;
        margin-bottom: 3rem;

        &--one {
            margin-left: 3rem;
            width: 60%;
            @media only screen and (max-width: $bp-medium) {
                width: fit-content;
                margin-left: 0;
                margin-right: 3rem;
            }
        }

        &--two {
            margin-left: 3rem;
        }

        &--three {
            margin-right: 3rem;
        }

        &--four {
            margin-left: 3rem;
        }
    }

    &__small-btn {
        color: $color-white;
        &--left {
            margin-left: 3rem;
        }

        &--right {
            margin-right: 3rem;
        }

        &--one {
            margin-left: 3rem;
            @media only screen and (max-width: $bp-medium) {
                margin-left: 0;
                margin-right: 3rem;
                align-self: flex-end;
            }
        }

        &--three {
            margin-right: 3rem;
            align-self: flex-end;
        }
    }
}

.activity {
    width: 90rem;
    @media only screen and (max-width: $bp-medium) {
        justify-content: center;
        width: 100%;
    }

    &__wrapper {
        margin: 0 auto;
        width: 90rem;
        @media only screen and (max-width: $bp-medium) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            width: 100%;
        }
    }

    &--one {
        margin-top: $margin-medium;
    }

    &--two {
        display: flex;
        margin-top: $margin-medium;
    }

    &--three {
        display: flex;
        margin-top: $margin-large;
    }

    &--four {
        display: flex;
        margin-top: $margin-large;
    }

    &__photo {
        
        &--one {
            width: 90rem;
            @media only screen and (max-width: $bp-medium) {
                width: 35%;
                margin-left: 3rem;
            }
        }
        &--two {
            width: 60%;
            margin-right: 3rem;
            @media only screen and (max-width: $bp-large) {
                width: 50%;
            }
            @media only screen and (max-width: $bp-medium) {
                width: 35%;
            }
        }

        &--three {
            width: 60%;
            margin-left: 3rem;
            @media only screen and (max-width: $bp-large) {
                width: 50%;
            }
            @media only screen and (max-width: $bp-medium) {
                width: 35%;
            }
        }

        &--four {
            width: 60%;
            margin-right: 3rem;
            @media only screen and (max-width: $bp-large) {
                width: 50%;
            }
            @media only screen and (max-width: $bp-medium) {
                width: 35%;
            }
        }
    }
}

.activity-text-wrapper {
    @media only screen and (max-width: $bp-medium) {
        width: 40rem;
    }
    &--one {
        border-left: 1px solid;
        @media only screen and (max-width: $bp-medium) {
            border-left: none;
            border-right: 1px solid;
            display: flex;
            flex-direction: column;
        }
    }

    &--two {
        border-left: 1px solid;
        height: fit-content;
    }

    &--three {
        border-right: 1px solid;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    &--four {
        border-left: 1px solid;
        height: fit-content;
    }
}

.activities-btn-container {
    display: flex;
    justify-content: center;
    background-color: $color-black;
    padding-top: 8rem;
}
.activities-btn {
    border: 1px solid $color-white;
}
